<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/image/myfavicon.ico}" href="image/myfavicon.ico" rel="shortcut icon">
    <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" href="../jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript"  th:src="@{/jquery/jquery-1.11.1-min.js}" src="../jquery/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}" src="../jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

<!--显示分页信息-->
<div class="modal-footer no-margin-top">
    <div>




        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-hover" contenteditable="true">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>登录账号</th>
                            <th>姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,count:${pageInfo.list}" th:class="${count.index == 0} ? 'success' : 'error' ">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.loginact}"></td>
                            <td  th:text="${user.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row-fluid">
                        <div class="span12">
                            <div style="display:inline-block">当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录

                                <ul class="pagination pull-right no-margin">
                                    <li th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/usermanage?pageNum=1'">首页</a>
                                    </li>

                                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                        <a th:href="'/usermanage?pageNum='+${pageInfo.prePage}">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <!--遍历条数-->
                                    <li th:each="nav:${pageInfo.navigatepageNums}">
                                        <a th:href="'/usermanage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                        <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                                    </li>

                                    <li class="next" th:if="${pageInfo.hasNextPage}">
                                        <a th:href="'/usermanage?pageNum='+${pageInfo.nextPage}">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a th:href="'/usermanage?pageNum='+${pageInfo.pages}">尾页</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


</div>

<div>当前页号：<span th:text="${pageInfo.pageNum}"></span></div>
<div>每页条数：<span th:text="${pageInfo.pageSize}"></span></div>
<div>起始行号：<span th:text="${pageInfo.startRow}"></span></div>
<div>终止行号：<span th:text="${pageInfo.endRow}"></span></div>
<div>总结果数：<span th:text="${pageInfo.total}"></span></div>
<div>总页数：<span th:text="${pageInfo.pages}"></span></div>
<hr />
<div>是否为第一页：<span th:text="${pageInfo.isFirstPage}"></span></div>
<div>是否为最后一页：<span th:text="${pageInfo.isLastPage}"></span></div>
<div>是否有前一页：<span th:text="${pageInfo.hasPreviousPage}"></span></div>
<div>是否有下一页：<span th:text="${pageInfo.hasNextPage}"></span></div>


</body>
</html>