<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zarek.crm.dao.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.zarek.crm.pojo.domain.Activity" >
    <id column="activityId" property="activityid" jdbcType="CHAR" />
    <result column="owner" property="owner" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="CHAR" />
    <result column="endDate" property="enddate" jdbcType="CHAR" />
    <result column="cost" property="cost" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="CHAR" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="editTime" property="edittime" jdbcType="CHAR" />
    <result column="editBy" property="editby" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_activity
    where activityId = #{activityid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zarek.crm.pojo.domain.Activity" >
    insert into tbl_activity (activityId, owner, name, 
      startDate, endDate, cost, 
      description, createTime, createBy, 
      editTime, editBy)
    values (#{activityid,jdbcType=CHAR}, #{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{startdate,jdbcType=CHAR}, #{enddate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=CHAR}, #{createby,jdbcType=VARCHAR}, 
      #{edittime,jdbcType=CHAR}, #{editby,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zarek.crm.pojo.domain.Activity" >
    update tbl_activity
    set owner = #{owner,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=CHAR},
      endDate = #{enddate,jdbcType=CHAR},
      cost = #{cost,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=CHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      editTime = #{edittime,jdbcType=CHAR},
      editBy = #{editby,jdbcType=VARCHAR}
    where activityId = #{activityid,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select activityId, owner, name, startDate, endDate, cost, description, createTime, 
    createBy, editTime, editBy
    from tbl_activity
    where activityId = #{activityid,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select activityId, owner, name, startDate, endDate, cost, description, createTime, 
    createBy, editTime, editBy
    from tbl_activity
  </select>


  <select id="getTotalByCondition" resultType="int">

    select count(*)

    from tbl_activity a
    join tbl_user u
    on a.owner=u.id

    <where>

      <if test="name!=null and name!=''">

        a.name like '%' #{name} '%'

      </if>

      <if test="owner!=null and owner!=''">

        and u.name like '%' #{owner} '%'

      </if>

      <if test="startDate!=null and startDate!=''">

        and a.startDate &gt; #{startDate}

      </if>

      <if test="endDate!=null and endDate!=''">

        and a.endDate &lt; #{endDate}

      </if>

    </where>


  </select>

  <select id="getActivityListByCondition" resultType="com.zarek.crm.pojo.domain.Activity">

    select

    a.activityId,
    a.name,
    u.name as owner,
    a.startDate,
    a.endDate,
    a.description

    from tbl_activity a
    join tbl_user u
    on a.owner=u.id

    <where>

      <if test="name!=null and name!=''">

        a.name like '%' #{name} '%'

      </if>

      <if test="owner!=null and owner!=''">

        and u.name like '%' #{owner} '%'

      </if>

      <if test="startDate!=null and startDate!=''">

        and a.startDate &gt; #{startDate}

      </if>

      <if test="endDate!=null and endDate!=''">

        and a.endDate &lt; #{endDate}

      </if>

    </where>

    order by a.createTime desc

    limit #{skipCount},#{pageSize}


  </select>

<!--  返回 某个id Activity的详细信息-->
  <select id="detail" resultType="com.zarek.crm.pojo.domain.Activity">

    select

      a.activityId,
      u.name as owner,
      a.name,
      a.startDate,
      a.endDate,
      a.cost,
      a.description,
      a.createTime,
      a.createBy,
      a.editTime,
      a.editBy


    from tbl_activity a
           join tbl_user u
                on a.owner=u.id

    where a.activityId=#{id}


  </select>

  <delete id="delete">

    delete from tbl_activity

    where activityId in
    <foreach collection="array" item="id" open="(" close=")" separator=",">

      #{id}

    </foreach>


  </delete>

</mapper>