<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zarek.crm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zarek.crm.pojo.domain.User" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="loginAct" property="loginact" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="loginPwd" property="loginpwd" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="expireTime" property="expiretime" jdbcType="CHAR" />
    <result column="lockState" property="lockstate" jdbcType="CHAR" />
    <result column="deptno" property="deptno" jdbcType="CHAR" />
    <result column="allowIps" property="allowips" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="CHAR" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="editTime" property="edittime" jdbcType="CHAR" />
    <result column="editBy" property="editby" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.zarek.crm.pojo.domain.User" >
    insert into tbl_user (id, loginAct, name, 
      loginPwd, email, expireTime, 
      lockState, deptno, allowIps, 
      createTime, createBy, editTime, 
      editBy)
    values (#{id,jdbcType=CHAR}, #{loginact,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{loginpwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{expiretime,jdbcType=CHAR}, 
      #{lockstate,jdbcType=CHAR}, #{deptno,jdbcType=CHAR}, #{allowips,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=CHAR}, #{createby,jdbcType=VARCHAR}, #{edittime,jdbcType=CHAR}, 
      #{editby,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zarek.crm.pojo.domain.User" >
    update tbl_user
    set loginAct = #{loginact,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      loginPwd = #{loginpwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      expireTime = #{expiretime,jdbcType=CHAR},
      lockState = #{lockstate,jdbcType=CHAR},
      deptno = #{deptno,jdbcType=CHAR},
      allowIps = #{allowips,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=CHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      editTime = #{edittime,jdbcType=CHAR},
      editBy = #{editby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, loginAct, name, loginPwd, email, expireTime, lockState, deptno, allowIps, 
    createTime, createBy, editTime, editBy
    from tbl_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, loginAct, name, loginPwd, email, expireTime, lockState, deptno, allowIps, 
    createTime, createBy, editTime, editBy
    from tbl_user
  </select>
  <select id="selectByLoginActAndLoginPwd" resultType="com.zarek.crm.pojo.domain.User">
    select * from tbl_user where loginAct=#{loginAct} and loginPwd=#{loginPwd}
  </select>

</mapper>